

<h1>Credit Card</h1>

<label>Balance</label>
{{input type="text" value=creditCard.balance size="50"}}

<label>APR</label>
{{input type="text" value=creditCard.apr size="50"}}

<label>Daily Interest</label>
{{input type="text" value=creditCard.interestDaily size="50"}}

<label>Interest This Period</label>
{{input type="text" value=creditCard.interestThisPeriod size="50"}}

<label>Balance With Interest</label>
{{input type="text" value=creditCard.balanceWithInterest size="50"}}

<label>Payment</label>
{{input type="text" value=creditCard.payment size="50"}}

<label>Balance After Payment</label>
{{input type="text" value=creditCard.balanceAfterPayment size="50"}}

<label>Months to Zero</label>
{{input type="text" value=creditCard.monthsToZero size="50"}}